@import "singularitygs";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$smart: max-width 44em; // for smartphones -- 480px with 16px base-font
$tab: 44em 70em; // for tablets -- 704px with 16px base-font
$desk: 70em; // for desktops -- 1120px with 16px base-font

@include add-grid(12);
@include add-gutter(2/3);