// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "vendor/bourbon/bourbon";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

body {
	text-rendering: geometricPrecision;
}

.front .wrapper--navigation {
  display: none;
}

.front p{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.front {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
}

.front .hero-copy {
	opacity:0;
}

.three_six_three-region--first {
	padding-top:30px;
	@include breakpoint($smart) {
		padding-top:0px;
	}
}

.node--exhibit-rbsc-item--full .content .field {
	
	border-top: solid 1px #e6e6e6;
	margin-top: 20px;
	padding-top: 10px;

}

.node--exhibit-rbsc-item--full .content .field:first-child {
    margin-top: 0px;
}

.node--exhibit-rbsc-item--full .content .field__label {
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #aaa;
	width: 127px;
	margin-right: 47px;
	display: inline-block;
	vertical-align: top;
	clear: both;
}

.node--exhibit-rbsc-item--full .content .field__item {
	line-height: 24px;
	font-weight: bold;
}

.readable {
	font-size:1.3em;
	line-spacing:1.5em;
}

a {
	color: $versailles-red;
}

a:hover {
	color: $versailles-red;
	text-decoration: underline;
}

.node--exhibit-rbsc-item--full .content .field__items {
	vertical-align: top;
	display: inline-block;
	width: 600px;
}

.field--name-field-provenance {
	font-style: italic;
}

/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1; min-width:100px;}
.media .img {float:left; margin-right: 10px;}
.media .img img{ 
	display:inline-block;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.media .imgExt{float:right; margin-left: 10px;}

.media .field--name-field-ver-translated-print-title {
	font-family: $font-serif-sc;
	font-weight: normal;
	letter-spacing: .02em;
	margin-bottom: 20px;
}

.view-exhibit-items-top-level-cases .views-row-odd {
	background-color: #f5f4f1;
	padding: 10px;
}

.view-exhibit-items-top-level-cases .views-row-even {
	padding: 10px;
}

.viewer {
	width:800px;
	@include breakpoint($smart) {
		width:300px;
	}
	@include breakpoint($tab) {
		width:505px;
	}
}

table.chronology {
	width: auto;
	border: 0px solid #ddd;
}

table.chronology td {
	border: 0px solid #ddd;
}

.chronology thead {
	color: $versailles-red;
	font-family: $font-script;
	font-size: 1.5em;
}

.chronology thead .romans{
	font-family: $font-serif-sc;
	font-style: italic;
	font-size: .8em;
	font-weight: normal;
}

.chronology th{
	border: 0px solid #ddd;
	background-color: $white;
	text-align: center;
	width: 50%;
}

.chronology td {
   padding: 10px;
}

.chronology tr td:nth-child(odd) {
   white-space: nowrap;
}

.chronology tbody tr:nth-child(odd) {
   background-color: #f5f4f1;
}

.l-footer {
	margin: 0px;
}

.text-muted {
	color: #999;
}

#friends-copy {
  margin-top: -20px;
}
