// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "vendor/bourbon/bourbon";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.front .wrapper--navigation {
  display: none;
}

.front p{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.front {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
}

.front .hero-copy {
	opacity:0;
}