// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "vendor/bourbon/bourbon";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

body {
	text-rendering: geometricPrecision;
}

.front .wrapper--navigation {
  display: none;
}

.front p{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.front {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
}

.front .hero-copy {
	opacity:0;
}

.pane-entity-view .node__content .field {
	border-top: solid 1px #e6e6e6;
	margin-top: 20px;
	padding-top: 10px;
}

.pane-entity-view .node__content .field__label {
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #aaa;
	width: 127px;
	margin-right: 47px;
	display: inline-block;
	vertical-align: top;
	clear: both;
}

.pane-entity-view .node__content .field__item {
	line-height: 24px;
	font-weight: bold;
}

.readable {
	font-size:1.3em;
	line-spacing:1.5em;
}

.node--exhibit-rbsc-item--full .field__items {
	vertical-align: top;
	display: inline-block;
	width: 600px;
}
