
.view-exhibition-menu-case .field-content a{
	font-family: $font-serif-sc;
	font-weight: normal;
	letter-spacing: .01em;
	color: $gray-dark;
}

.view-exhibition-menu-case .views-row{
	border-top: solid 1px #e6e6e6;
	padding: 10px;
}

.view-exhibition-menu-case .views-row:hover{
	border-color: $versailles-red;
}

.view-exhibition-menu-case .views-row a:hover{
	color: $versailles-red;
}

.menu .active, .view-exhibition-menu-case .active {
	color: $versailles-red !important;
}

.active_row {
	background-color: #f5f4f1;
}
