
.view-exhibition-menu-case .field-content a{
	font-family: $font-serif-sc;
	font-weight: normal;
	letter-spacing: .01em;
	color: $gray-dark;
}

.view-exhibition-menu-case .views-row{
	border-top: solid 1px #e6e6e6;
	padding: 10px;
}

.view-exhibition-menu-case .views-row:hover{
	border-color: $versailles-red;
}

.view-exhibition-menu-case .views-row a:hover{
	color: $versailles-red;
}

.menu .active, .view-exhibition-menu-case .active {
	color: $versailles-red !important;
}

.active_row {
	background-color: #f5f4f1;
}

/* hamburger "bars" get hidden unless viewed on a smart phone */
.pane-exhibition-menu-case .pane-title {
	display: none;
}

@include breakpoint($smart) {
	 /* Move nav off screen, setup transitions */
	.view-exhibition-menu-case{
	    width: 65%;
	    position: absolute;
	    left: -70%;
	    top: 0;
	    height: 100%;
	}

	.view-exhibition-menu-case .view-content{
		border-top: 1px solid #888;
	}

	.view-exhibition-menu-case .views-row {
		float: none;
      	width: 100%;
      	text-align: left;
      	box-sizing: border-box;
	}

	/* show hamburger "bars" indicating collapsed/hidden menu */
	.pane-exhibition-menu-case .pane-title {
		display: block;
	}

  .openNav .panel-display {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  
  /* When the panel is closed, transition the page back to the left */
  .panel-display {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }


}