@charset "UTF-8";
/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_grids.scss */
body {
  background: #ffffff; }

/* line 6, ../sass/base/_grids.scss */
.l-page {
  background: #ffffff; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Alegreya", Georgia, Times, serif;
  font-size: 1em; }

/* line 8, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya SC", "Alegreya", Georgia, Times, serif;
  font-weight: normal;
  letter-spacing: .02em; }

/* line 14, ../sass/base/_typography.scss */
.splash-title {
  font-family: "Pinyon Script";
  color: #893d26;
  font-variant: normal;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: normal;
  letter-spacing: 0px; }

/* line 28, ../sass/base/_typography.scss */
.splash-title a:hover {
  text-decoration: none; }

/* line 32, ../sass/base/_typography.scss */
.splash-subtitle {
  font-size: 1.3rem; }

/* line 39, ../sass/base/_typography.scss */
.splash-location, .splash-dates, .splash-copytext {
  font-size: 1.1rem; }

/* line 46, ../sass/base/_typography.scss */
.enter-site-button a:hover {
  color: #ffffff; }

/* line 2, ../sass/components/_branding.scss */
.wrapper--branding {
  background-color: #494f57;
  min-height: 35px;
  border-top: 2px solid #e87511; }
  /* line 7, ../sass/components/_branding.scss */
  .wrapper--branding h1.site-name {
    display: none; }

/* line 13, ../sass/components/_branding.scss */
.l-branding .homepage-tab-form-message {
  display: none; }

/* non-SVG logo */
/* line 20, ../sass/components/_branding.scss */
.site-logo {
  line-height: 21px;
  margin-left: -0.7em;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both; }
  /* line 31, ../sass/components/_branding.scss */
  .site-logo img {
    padding: 0 1em;
    display: block;
    margin: 0 auto;
    height: 25px; }

/* SVG logo */
/* line 47, ../sass/components/_branding.scss */
.svg .site-logo img {
  display: none; }
/* line 51, ../sass/components/_branding.scss */
.svg .site-logo {
  background: url("../images/logo.svg") center center no-repeat;
  background-size: contain;
  display: block;
  height: 25px;
  width: 20%;
  margin-top: 5px; }

/* line 1, ../sass/components/_buttons.scss */
a.enter-site-button {
  border: 1px solid #6b2a16;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #c36c52;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #9d462c;
  background-image: -webkit-linear-gradient(#9d462c, #782f19);
  background-image: linear-gradient(#9d462c, #782f19);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #5d220f;
  background-clip: padding-box;
  color: white;
  margin-bottom: 0.5em; }
  /* line 131, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #a95339;
    cursor: pointer;
    background-color: #853f2a;
    background-image: -webkit-linear-gradient(#853f2a, #6a2a17);
    background-image: linear-gradient(#853f2a, #6a2a17); }
  /* line 147, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:active:not(:disabled), a.enter-site-button:focus:not(:disabled) {
    border: 1px solid #6b2a16;
    box-shadow: inset 0 0 8px 4px #5d2615, inset 0 0 8px 4px #5d2615; }
  /* line 51, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/* line 7, ../sass/components/_buttons.scss */
a.enter-site-button:hover {
  color: white; }

/* line 11, ../sass/components/_buttons.scss */
a.prev-button, a.next-button {
  border: 1px solid #d4cdb6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #ecebe5;
  background-image: -webkit-linear-gradient(#ecebe5, #d9d4c0);
  background-image: linear-gradient(#ecebe5, #d9d4c0);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f6f5f0;
  background-clip: padding-box;
  display: inline-block;
  vertical-align: middle;
  background-color: #e8e6df;
  box-shadow: inset 0 0px 0 0 white;
  border: 1px solid white;
  color: #333;
  line-height: 36px;
  font-size: 1.25rem;
  padding: 4px 0px 0 12px;
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 5px; }
  /* line 131, ../sass/vendor/bourbon/addons/_button.scss */
  a.prev-button:hover:not(:disabled), a.next-button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #f6f6f4;
    cursor: pointer;
    background-color: #e0ded8;
    background-image: -webkit-linear-gradient(#e0ded8, #d3cdb7);
    background-image: linear-gradient(#e0ded8, #d3cdb7); }
  /* line 147, ../sass/vendor/bourbon/addons/_button.scss */
  a.prev-button:active:not(:disabled), a.prev-button:focus:not(:disabled), a.next-button:active:not(:disabled), a.next-button:focus:not(:disabled) {
    border: 1px solid #d4cdb6;
    box-shadow: inset 0 0 8px 4px #cdc6ae, inset 0 0 8px 4px #cdc6ae; }
  /* line 51, ../sass/vendor/bourbon/addons/_button.scss */
  a.prev-button:disabled, a.next-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/* line 29, ../sass/components/_buttons.scss */
a.prev-button:hover, a.next-button:hover {
  box-shadow: inset 0 0px 0 0 white;
  color: black; }

/* line 34, ../sass/components/_buttons.scss */
.prev-next-wrapper {
  margin-top: -50px;
  float: right; }

/* line 3, ../sass/components/_map.scss */
.map {
  width: 100vh;
  height: 100vh; }

/* line 9, ../sass/components/_map.scss */
.leaflet-container {
  background: #d2c8bf !important;
  border: solid 1px #494f57; }

/* line 14, ../sass/components/_map.scss */
.popup-text {
  font-family: "Fanwood Text", Georgia, Times, serif;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: .02em;
  color: black; }

/* line 22, ../sass/components/_map.scss */
a.popup:link {
  text-decoration: none; }

/* line 1, ../sass/components/_navigation.scss */
.menu a:hover {
  color: #893d26 !important; }

/* line 5, ../sass/components/_navigation.scss */
.view-exhibition-menu-case .field-content a {
  font-family: "Alegreya SC", "Alegreya", Georgia, Times, serif;
  font-weight: normal;
  letter-spacing: .01em;
  color: #494f57; }

/* line 12, ../sass/components/_navigation.scss */
.view-exhibition-menu-case .views-row {
  border-top: solid 1px #e6e6e6;
  padding: 10px; }

/* line 17, ../sass/components/_navigation.scss */
.view-exhibition-menu-case .views-row:hover {
  border-color: #893d26; }

/* line 21, ../sass/components/_navigation.scss */
.view-exhibition-menu-case .views-row a:hover {
  color: #893d26; }

/* line 25, ../sass/components/_navigation.scss */
.menu .active, .view-exhibition-menu-case .active {
  color: #893d26 !important; }

/* line 29, ../sass/components/_navigation.scss */
.active_row {
  background-color: #f5f4f1; }

/* hamburger "bars" get hidden unless viewed on a smart phone */
/* line 34, ../sass/components/_navigation.scss */
.pane-exhibition-menu-case .pane-title {
  display: none; }

/* line 1, ../sass/components/_search.scss */
#edit-search-block-form--2 {
  width: 100%; }

/* line 1, ../sass/components/_spotlight.scss */
.front .wrapper--highlighted {
  padding: 0;
  background-size: 1600px auto;
  max-height: 200px;
  background: url(http://libimages.princeton.edu/loris/pudl0083/8206793/00000014.jp2/1212,2400,4736,600/1600,/0/native.jpg) bottom no-repeat;
  background-color: #d2c8bf; }
  /* line 35, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted {
    padding: 1em 0;
    position: relative; }
  /* line 44, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted h2 {
    display: none; }
  /* line 54, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a {
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px #333;
    line-height: 1em;
    font-weight: bold; }
  /* line 73, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a .subtitle {
    display: block;
    font-size: .6em; }
  /* line 89, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .block--pudl-highlight {
    display: none; }

/* line 95, ../sass/components/_spotlight.scss */
.wrapper--highlighted {
  padding: 0;
  background-size: 1600px auto;
  max-height: 200px;
  background: url(http://libimages.princeton.edu/loris/pudl0083/8206793/00000014.jp2/1212,2400,4736,600/1600,/0/native.jpg) bottom no-repeat;
  background-color: #d2c8bf; }
  /* line 127, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted {
    padding: 2.5em 0;
    position: relative; }
  /* line 136, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted h2 {
    display: none; }
  /* line 151, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted .hero-copy h1 a {
    font-size: 1em;
    font-family: "Pinyon Script";
    font-variant: normal;
    color: #893d26;
    font-weight: bold;
    /* text-shadow: 2px 2px 10px #000; */
    line-height: 1.3em;
    letter-spacing: 0.01em;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 5px 5px 10px;
    border-radius: 5px; }
  /* line 176, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted .hero-copy h1 a:hover {
    background: rgba(255, 255, 255, 0.9);
    text-decoration: none; }
  /* line 181, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted .hero-copy h1 a .subtitle {
    display: none;
    font-size: .6em; }

/* line 200, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  display: none; }

/* line 212, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  background: rgba(137, 61, 38, 0.65);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 159px;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 220, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block h2 {
    display: none; }
  /* line 223, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block a {
    font-size: 0.875rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white; }
  /* line 230, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block img {
    width: 260px;
    height: 159px; }
  /* line 235, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-spotlight-dispalsys .views-row-1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

/* line 240, ../sass/components/_spotlight.scss */
.block--pudl-highlight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1em;
  text-align: center;
  display: block;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: rgba(255, 255, 255, 0.65);
  padding: 0.5em; }
  /* line 264, ../sass/components/_spotlight.scss */
  .block--pudl-highlight a {
    font-size: 0.75rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #893d26;
    text-align: center; }
    /* line 271, ../sass/components/_spotlight.scss */
    .block--pudl-highlight a .icon-newtab {
      margin-right: 0.5em; }

/* line 277, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  margin-bottom: 24px;
  cursor: pointer; }
  /* line 282, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-content .views-row {
    height: 159px;
    overflow: hidden;
    position: relative; }
  /* line 288, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field {
    -moz-transition: all, ease-in-out 0.2s;
    -o-transition: all, ease-in-out 0.2s;
    -webkit-transition: all, ease-in-out 0.2s;
    transition: all, ease-in-out 0.2s;
    background: inherit;
    color: white;
    height: inherit;
    padding: 0.5em 0.7em; }
  /* line 296, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-field-image-new-item {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    font-weight: 200;
    padding: 0;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    /* line 304, ../sass/components/_spotlight.scss */
    #block-views-spotlight-dispalsys-block .views-field-field-image-new-item img {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
  /* line 309, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-title {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    background: rgba(137, 61, 38, 0.85); }

/* Glyph, by Harry Roberts 
        
hr {
    padding: 0;
    border: none;
    border-top: medium double #E8E6DF;
    color: #E8E6DF; 
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

*/
/* line 25, ../sass/pul-versailles.styles.scss */
body {
  text-rendering: geometricPrecision; }

/* line 29, ../sass/pul-versailles.styles.scss */
.front .wrapper--navigation {
  display: none; }

/* line 33, ../sass/pul-versailles.styles.scss */
.front p {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

/* line 41, ../sass/pul-versailles.styles.scss */
.front h1, .front h2, .front h3, .front h4, .front h5, .front h6 {
  text-align: center; }

/* line 46, ../sass/pul-versailles.styles.scss */
.front .hero-copy {
  opacity: 0; }

/* line 50, ../sass/pul-versailles.styles.scss */
.three_six_three-region--first {
  padding-top: 30px; }

/* line 54, ../sass/pul-versailles.styles.scss */
.node--exhibit-rbsc-item--full .content .field {
  border-top: solid 1px #e6e6e6;
  margin-top: 20px;
  padding-top: 10px; }

/* line 62, ../sass/pul-versailles.styles.scss */
.node--exhibit-rbsc-item--full .content .field:first-child {
  margin-top: 0px; }

/* line 66, ../sass/pul-versailles.styles.scss */
.node--exhibit-rbsc-item--full .content .field__label {
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #aaa;
  width: 127px;
  margin-right: 47px;
  display: inline-block;
  vertical-align: top;
  clear: both; }

/* line 77, ../sass/pul-versailles.styles.scss */
.node--exhibit-rbsc-item--full .content .field__item {
  line-height: 24px;
  font-weight: bold; }

/* line 82, ../sass/pul-versailles.styles.scss */
.readable {
  font-size: 1.3em;
  line-spacing: 1.5em; }

/* line 87, ../sass/pul-versailles.styles.scss */
a {
  color: #893d26; }

/* line 91, ../sass/pul-versailles.styles.scss */
a:hover {
  color: #893d26;
  text-decoration: underline; }

/* line 96, ../sass/pul-versailles.styles.scss */
.node--exhibit-rbsc-item--full .content .field__items {
  vertical-align: top;
  display: inline-block;
  width: 600px; }

/* line 102, ../sass/pul-versailles.styles.scss */
.field--name-field-provenance {
  font-style: italic; }

/* ====== media ====== */
/* line 107, ../sass/pul-versailles.styles.scss */
.media {
  margin: 10px; }

/* line 108, ../sass/pul-versailles.styles.scss */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  min-width: 100px; }

/* line 109, ../sass/pul-versailles.styles.scss */
.media .img {
  float: left;
  margin-right: 10px; }

/* line 110, ../sass/pul-versailles.styles.scss */
.media .img img {
  display: inline-block;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/* line 123, ../sass/pul-versailles.styles.scss */
.media .imgExt {
  float: right;
  margin-left: 10px; }

/* line 125, ../sass/pul-versailles.styles.scss */
.media .field--name-field-ver-translated-print-title {
  font-family: "Alegreya SC", "Alegreya", Georgia, Times, serif;
  font-weight: normal;
  letter-spacing: .02em;
  margin-bottom: 20px; }

/* line 132, ../sass/pul-versailles.styles.scss */
.view-exhibit-items-top-level-cases .views-row-odd {
  background-color: #f5f4f1;
  padding: 10px; }

/* line 137, ../sass/pul-versailles.styles.scss */
.view-exhibit-items-top-level-cases .views-row-even {
  padding: 10px; }

/* line 141, ../sass/pul-versailles.styles.scss */
.viewer {
  width: 800px; }

/* line 151, ../sass/pul-versailles.styles.scss */
table.chronology {
  width: auto;
  border: 0px solid #ddd; }

/* line 156, ../sass/pul-versailles.styles.scss */
table.chronology td {
  border: 0px solid #ddd; }

/* line 160, ../sass/pul-versailles.styles.scss */
.chronology thead {
  color: #893d26;
  font-family: "Pinyon Script";
  font-size: 1.5em; }

/* line 166, ../sass/pul-versailles.styles.scss */
.chronology thead .romans {
  font-family: "Alegreya SC", "Alegreya", Georgia, Times, serif;
  font-style: italic;
  font-size: .8em;
  font-weight: normal; }

/* line 173, ../sass/pul-versailles.styles.scss */
.chronology th {
  border: 0px solid #ddd;
  background-color: #ffffff;
  text-align: center;
  width: 50%; }

/* line 180, ../sass/pul-versailles.styles.scss */
.chronology td {
  padding: 10px; }

/* line 184, ../sass/pul-versailles.styles.scss */
.chronology tr td:nth-child(odd) {
  white-space: nowrap; }

/* line 188, ../sass/pul-versailles.styles.scss */
.chronology tbody tr:nth-child(odd) {
  background-color: #f5f4f1; }

/* line 192, ../sass/pul-versailles.styles.scss */
.l-footer {
  margin: 0px; }

/*# sourceMappingURL=pul-versailles.no-query.css.map */
