@charset "UTF-8";
/* No files to import found in abstractions/**\/* */
/* line 3, ../sass/base/_grids.scss */
body {
  background: #EBF5EF; }

/* line 7, ../sass/base/_grids.scss */
.l-page {
  background: #EBF5EF; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Fanwood Text", Georgia, Times, serif;
  font-size: 1em; }

/* line 8, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Fanwood Text", Georgia, Times, serif;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: .02em; }

/* line 15, ../sass/base/_typography.scss */
h1.splash-title {
  font-family: "Pinyon Script";
  color: #893d26;
  font-variant: normal;
  font-size: 60px;
  letter-spacing: 0px; }

/* line 2, ../sass/components/_branding.scss */
.wrapper--branding {
  background-color: #494f57;
  min-height: 35px;
  border-top: 2px solid #e87511; }
  /* line 7, ../sass/components/_branding.scss */
  .wrapper--branding h1.site-name {
    display: none; }

/* line 13, ../sass/components/_branding.scss */
.l-branding .homepage-tab-form-message {
  display: none; }

/* line 20, ../sass/components/_branding.scss */
.site-logo {
  line-height: 21px;
  margin-left: -0.7em;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both; }
  @media (min-width: 44em) {
    /* line 20, ../sass/components/_branding.scss */
    .site-logo {
      width: 48.27586%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
  /* line 31, ../sass/components/_branding.scss */
  .site-logo img {
    padding: 0 1em;
    display: block;
    margin: 0 auto;
    height: 25px; }
    @media (min-width: 70em) {
      /* line 31, ../sass/components/_branding.scss */
      .site-logo img {
        padding: 0;
        margin: 0; } }

/* line 46, ../sass/components/_branding.scss */
.svg .site-logo img {
  display: none; }
/* line 49, ../sass/components/_branding.scss */
.svg .site-logo {
  background: url("../logo.svg") center center no-repeat;
  background-size: contain;
  display: block;
  height: 25px;
  width: 20%;
  margin-top: 5px; }
  @media (min-width: 44em) {
    /* line 49, ../sass/components/_branding.scss */
    .svg .site-logo {
      margin-left: 0.5em; } }

/* line 1, ../sass/components/_buttons.scss */
a.enter-site-button {
  border: 1px solid #6b2a16;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #c36c52;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #9d462c;
  background-image: -webkit-linear-gradient(#9d462c, #782f19);
  background-image: linear-gradient(#9d462c, #782f19);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #5d220f;
  background-clip: padding-box;
  color: white;
  margin-bottom: 0.5em; }
  /* line 131, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #a95339;
    cursor: pointer;
    background-color: #853f2a;
    background-image: -webkit-linear-gradient(#853f2a, #6a2a17);
    background-image: linear-gradient(#853f2a, #6a2a17); }
  /* line 147, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:active:not(:disabled), a.enter-site-button:focus:not(:disabled) {
    border: 1px solid #6b2a16;
    box-shadow: inset 0 0 8px 4px #5d2615, inset 0 0 8px 4px #5d2615; }
  /* line 51, ../sass/vendor/bourbon/addons/_button.scss */
  a.enter-site-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/* line 1, ../sass/components/_search.scss */
#edit-search-block-form--2 {
  width: 100%; }

/* line 1, ../sass/components/_spotlight.scss */
.front .wrapper--highlighted {
  background: rgba(213, 130, 105, 0.75);
  padding: 0;
  background-size: 1600px auto;
  max-height: 350px; }
  @media (min-width: 44em) {
    /* line 1, ../sass/components/_spotlight.scss */
    .front .wrapper--highlighted {
      background: url(../images/hero.jpg) bottom no-repeat; } }
  /* line 12, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted {
    padding: 1em 0;
    position: relative; }
    @media (min-width: 44em) {
      /* line 12, ../sass/components/_spotlight.scss */
      .front .wrapper--highlighted .l-region--highlighted {
        padding: 4em 0; } }
  /* line 21, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted h2 {
    display: none; }
  /* line 25, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px #333;
    line-height: 1em; }
  /* line 32, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a .subtitle {
    display: block;
    font-size: .6em; }

/* line 37, ../sass/components/_spotlight.scss */
.front .l-main {
  margin-top: -40px; }

/* line 41, ../sass/components/_spotlight.scss */
.wrapper--highlighted {
  background: rgba(213, 130, 105, 0.75);
  padding: 0;
  background-size: 1600px auto;
  max-height: 150px; }
  @media (min-width: 44em) {
    /* line 41, ../sass/components/_spotlight.scss */
    .wrapper--highlighted {
      background: linear-gradient(rgba(213, 130, 105, 0.75), rgba(213, 130, 105, 0.75)), url(../images/hero.jpg) center no-repeat; } }
  /* line 57, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted {
    padding: 1em 0;
    position: relative; }
    @media (min-width: 44em) {
      /* line 57, ../sass/components/_spotlight.scss */
      .wrapper--highlighted .l-region--highlighted {
        padding: 1em 0; } }
  /* line 66, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted h2 {
    display: none; }
  /* line 70, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted .hero-copy h1 a {
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px #333;
    line-height: 1em; }
  /* line 77, ../sass/components/_spotlight.scss */
  .wrapper--highlighted .l-region--highlighted .hero-copy h1 a .subtitle {
    display: block;
    font-size: .6em; }

/* line 84, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  display: none; }
  @media (min-width: 70em) {
    /* line 84, ../sass/components/_spotlight.scss */
    #block-views-spotlight-dispalsys-block {
      width: 22.41379%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin-left: 0;
      margin-right: 0;
      display: block; } }

/* line 96, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  background: rgba(137, 61, 38, 0.65);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 159px;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 104, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block h2 {
    display: none; }
  /* line 107, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block a {
    font-size: 0.875rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white; }
  /* line 114, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block img {
    width: 260px;
    height: 159px; }
  /* line 119, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-spotlight-dispalsys .views-row-1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

/* line 124, ../sass/components/_spotlight.scss */
.block--pudl-highlight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1em;
  text-align: center;
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: rgba(137, 61, 38, 0.35);
  padding: 0.5em; }
  @media (min-width: 44em) {
    /* line 124, ../sass/components/_spotlight.scss */
    .block--pudl-highlight {
      display: block;
      width: 22.41379%;
      float: left;
      margin-right: -100%;
      margin-left: 86.2069%;
      clear: none;
      margin-right: 0; } }
  @media (min-width: 70em) {
    /* line 124, ../sass/components/_spotlight.scss */
    .block--pudl-highlight {
      display: block;
      width: 13.7931%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin-right: 0; } }
  /* line 148, ../sass/components/_spotlight.scss */
  .block--pudl-highlight a {
    font-size: 0.75rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
    text-align: center; }
    /* line 155, ../sass/components/_spotlight.scss */
    .block--pudl-highlight a .icon-newtab {
      margin-right: 0.5em; }

/* line 161, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  margin-bottom: 24px;
  cursor: pointer; }
  /* line 166, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-content .views-row {
    height: 159px;
    overflow: hidden;
    position: relative; }
  /* line 172, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field {
    -moz-transition: all, ease-in-out 0.2s;
    -o-transition: all, ease-in-out 0.2s;
    -webkit-transition: all, ease-in-out 0.2s;
    transition: all, ease-in-out 0.2s;
    background: inherit;
    color: white;
    height: inherit;
    padding: 0.5em 0.7em; }
  /* line 180, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-field-image-new-item {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    font-weight: 200;
    padding: 0;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    /* line 188, ../sass/components/_spotlight.scss */
    #block-views-spotlight-dispalsys-block .views-field-field-image-new-item img {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
  /* line 193, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-title {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    background: rgba(137, 61, 38, 0.85); }

/* Glyph, by Harry Roberts 
        
hr {
    padding: 0;
    border: none;
    border-top: medium double #E8E6DF;
    color: #E8E6DF; 
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

*/
/* line 25, ../sass/pul-versailles.styles.scss */
body {
  text-rendering: geometricPrecision; }

/* line 29, ../sass/pul-versailles.styles.scss */
.front .wrapper--navigation {
  display: none; }

/* line 33, ../sass/pul-versailles.styles.scss */
.front p {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

/* line 41, ../sass/pul-versailles.styles.scss */
.front h1, .front h2, .front h3, .front h4, .front h5, .front h6 {
  text-align: center; }

/* line 46, ../sass/pul-versailles.styles.scss */
.front .hero-copy {
  opacity: 0; }

/* line 50, ../sass/pul-versailles.styles.scss */
.pane-entity-view .node__content .field {
  border-top: solid 1px #e6e6e6;
  margin-top: 20px;
  padding-top: 10px; }

/* line 56, ../sass/pul-versailles.styles.scss */
.pane-entity-view .node__content .field__label {
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #aaa;
  width: 127px;
  margin-right: 47px;
  display: inline-block;
  vertical-align: top;
  clear: both; }

/* line 67, ../sass/pul-versailles.styles.scss */
.pane-entity-view .node__content .field__item {
  line-height: 24px;
  font-weight: bold; }

/*# sourceMappingURL=pul-versailles.styles.css.map */
