/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/components/_navigation.scss */
.three_six_three_stacked-region--first h1, h2, h3, h4, h5, h6 {
  color: #1f36a2; }

/* line 1, ../sass/components/_search.scss */
#edit-search-block-form--2 {
  width: 100%; }

/* line 1, ../sass/components/_spotlight.scss */
.front .wrapper--highlighted {
  background: rgba(213, 130, 105, 0.75);
  padding: 0;
  background-size: 1600px auto; }
  /* line 16, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted {
    padding: 1em 0;
    position: relative; }
  /* line 25, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted h2 {
    display: none; }
  /* line 29, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px #333;
    line-height: 1em; }
  /* line 36, ../sass/components/_spotlight.scss */
  .front .wrapper--highlighted .l-region--highlighted .hero-copy h1 a .subtitle {
    display: block;
    font-size: .6em; }

/* line 42, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both;
  display: none; }

/* line 54, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  background: rgba(137, 61, 38, 0.65);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 159px;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 62, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block h2 {
    display: none; }
  /* line 65, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block a {
    font-size: 0.875rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white; }
  /* line 72, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block img {
    width: 260px;
    height: 159px; }
  /* line 77, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-spotlight-dispalsys .views-row-1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

/* line 82, ../sass/components/_spotlight.scss */
.block--pudl-highlight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1em;
  text-align: center;
  display: none;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: rgba(137, 61, 38, 0.35);
  padding: 0.5em; }
  /* line 106, ../sass/components/_spotlight.scss */
  .block--pudl-highlight a {
    font-size: 0.75rem;
    font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
    text-align: center; }
    /* line 113, ../sass/components/_spotlight.scss */
    .block--pudl-highlight a .icon-newtab {
      margin-right: 0.5em; }

/* line 119, ../sass/components/_spotlight.scss */
#block-views-spotlight-dispalsys-block {
  margin-bottom: 24px;
  cursor: pointer; }
  /* line 124, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .view-content .views-row {
    height: 159px;
    overflow: hidden;
    position: relative; }
  /* line 130, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field {
    -moz-transition: all, ease-in-out 0.2s;
    -o-transition: all, ease-in-out 0.2s;
    -webkit-transition: all, ease-in-out 0.2s;
    transition: all, ease-in-out 0.2s;
    background: inherit;
    color: white;
    height: inherit;
    padding: 0.5em 0.7em; }
  /* line 138, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-field-image-new-item {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    font-weight: 200;
    padding: 0;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    /* line 146, ../sass/components/_spotlight.scss */
    #block-views-spotlight-dispalsys-block .views-field-field-image-new-item img {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
  /* line 151, ../sass/components/_spotlight.scss */
  #block-views-spotlight-dispalsys-block .views-field-title {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    background: rgba(137, 61, 38, 0.85); }

/*# sourceMappingURL=pul-versailles.no-query.css.map */
